## ANÁLISIS EXPLORATORIO CC3074 SECCIÓN 20 
#### DIEGO LÓPEZ - 23747

In [6]:
import pandas as pd

# Leer archivo .sav (usar read_spss, no read_csv)
df = pd.read_spss("../data/sav/2009/2009_defunciones_fetales.sav")

df.head()
df.describe()

            AÑOREG       DIAOCU  AÑOOCU
count  2306.000000  2306.000000  2306.0
mean   2020.041197    15.373807  2020.0
std       0.198788     8.773896     0.0
min    2020.000000     1.000000  2020.0
25%    2020.000000     8.000000  2020.0
50%    2020.000000    15.000000  2020.0
75%    2020.000000    23.000000  2020.0
max    2021.000000    31.000000  2020.0